<p id="notice"><%= notice %></p>

<p>
  <strong>University:</strong>
  <%= @note.university %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @note.degree %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @note.subject %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @note.semester %>
</p>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @note.attachment %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
