<div class="card">
  <div
    class="card-top">
    <%= universiity_picture(field) %>
  </div>
  <div class="card-bottom">
    <div class="card-header">
      <h3 class="card-business-name"><%= field.university%></h3>
      <p class="card-addreess"> Materia: <%= field.degree %></p>
      <p class="card-addreess"> Por: <%= field.email %></p>
    </div>
    <div class="card-field-info">
      <div class="card-field-descripton">
        <p class="card-field-name">
          <i class="fas fa-pencil-alt"></i>
          <% size = 110 %>
          <% if field.subject.size > size %>
            <%= field.subject[0..size] %>...
          <% else %>
            <%= field.subject[0..size] %>
          <% end %>
        </p>
        <p class="card-with-margin">
          <i class="fas fa-address-book"></i>
          <%= field.description[0..110] %>
        </p>
      </div>
      </div>
      <div class="flex bottom justify-content">
        <div class="card-field-capacity">
          <p>Semestre: <%= field.semester.capitalize %> </p>
        </div>
        <p class="card-price">
          <i class="fas fa-dollar-sign"></i>
          Precio: 5.000
        </p>
        <div class="full-width">
        <div class="nothing">
        </div>
          <form style="float: right; margin-right: 8px;">
              <script
                  src="https://checkout.epayco.co/checkout.js"
                  class="epayco-button"
                  data-epayco-key="3beafefcdd3eb0e9462b4dbdc65cc09a"
                  data-epayco-amount="5000"
                  data-epayco-name="Apuntes Agora"
                  data-epayco-description="Tus apuntes: una vez comprobemos el pago de los apuntes nos pondremos en contacto contigo para hacerte llegar la copia de los mismos."
                  data-epayco-currency="cop"
                  data-epayco-country="co"
                  data-epayco-test="false"
                  data-epayco-external="true">
              </script>
          </form>
        </div>
    </div>
  </div>
</div>

